<!DOCTYPE html>
<html>

	<head>
		<title>确认订单</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="trading-detail.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav a-header" style="background-color: white;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: black;"></a>
			<h1 class="mui-title" id="ipt-header" style="color: #000000;font-size: 20px;">确认订单</h1>
		</header>
		<div class="mui-content" style="background-color: #F0F0F0;">
			<div>
				<ul class="mui-table-view" style="margin-top: 8px;border-radius: 8px;">
					<!-- <li class="mui-table-view-cell mui-media">
						<a class="mui-navigate-right">
							<img class="mui-media-object mui-pull-left border" src="../../images/homemenu/address.png" style="height: 30px;width: 24px;">
							<div class="mui-media-body">
								<p><span>刑天</span><span>15869784892</span></p>
								<p class="mui-ellipsis top8">山东省潍坊市新华路玄武街红枕安悦酒店905</p>
							</div>
						</a>
					</li> -->
					<!-- <li class="mui-table-view-cell mui-media" id="select_two">
						<a class="mui-navigate-right">
						<p>请选择收货地址</p>
						</a>
					</li> -->
				</ul>
			</div>
			<div>
				<ul class="mui-table-view" id="list_warp" style="margin-top: 8px;border-radius: 8px;">
					<li class="mui-table-view-cell mui-media">
						<div style="height: 122px;">
							<img class="mui-media-object mui-pull-left" id="ipt_image" src="" onerror="this.src='../../images/kongbai.jpg'" style="max-width: 100px;height: 100px;border-radius: 10px;">
							<div class="mui-media-body">
								<p><span style="color: green;font-size: 18px;" id="ipt_name"></span></p>
								<p><span>种植日期:</span><span id="ipt_plant"></span></p>
								<p><span>收获日期:</span><span id="ipt_get"></span></p>
								<p><span>剩余量:</span><span id="ipt_num"></span><span>公斤</span></p>
								<p><span>价格:</span><span id="ipt_price"></span></p>
							</div>
						</div>
						<div class="peoplewarp">
							<p><span style="font-size: 18px;color: #000000;position: relative;top: 12px;">购买数量</span><input style="float: right;width: 60%;text-align: right;border: 0;" id="ipt_number" type="number" placeholder="请填写购买数量"/></p>
						</div>
					</li
				</ul>
			</div>
			<nav style="background-color: white;" class="mui-bar mui-bar-tab">
				<span style="margin-left: 8px;position: relative;top: 15px;">合计:</span><span style="color: red;position: relative;top: 15px;font-size: 21px;" id="ipt_total"></span>
				<img src="../../images/homemenu/zhifu.png" style="width: 144px;height: auto;float: right;" id="btn-pay"/>
			</nav>
	</body>
	<script type="text/javascript" src="../../js/mui.min.js"></script>
	<script type="text/javascript" src="../../a-core/util/log.js"></script>
	<script type="text/javascript" src="../../a-core/util/local-storage.js"></script>
	<script type="text/javascript" src="../../a-core/util/server.js"></script>
	<script type="text/javascript" src="../../server/trading/trading-list-server.js"></script>
	<script type="text/javascript" src="trading-detail-variable.js"></script>
	<script type="text/javascript" src="trading-detail-func.js"></script>
	<script type="text/javascript" src="trading-detail.js"></script>

</html>
