<!DOCTYPE html>
<html>

	<head>
		<title>意见反馈</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<style>
			pre {
			    white-space:pre-wrap;/*css-3*/
			      white-space:-moz-pre-wrap;/*Mozilla,since1999*/
			      white-space:-pre-wrap;/*Opera4-6*/
			      white-space:-o-pre-wrap;/*Opera7*/
			      word-wrap:break-word;/*InternetExplorer5.5+*/
				  padding: 7px;
				  font-size: 15px;
			}
		</style>
	</head>

	<body>
		<head>
			<header class="mui-bar mui-bar-nav a-header" style="background-color: white;">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: black;"></a>
				<h1 class="mui-title" id="ipt-header" style="color: #000000;font-size: 20px;">农场注册协议</h1>
			</header>
		</head>
		<div class="mui-content" style="background-color: white;">
			<pre class="content" >
   在您成为农场用户的过程中，您需要完成我们的注册流程并通过点击同意的形式在线签署农场用户注册协议，请您务必仔细阅读、充分理解协议中的条款内容后再点击同意（您需要着重阅读粗体标识的条款，因为这些条款会明确您应当履行的义务或对您的权利有所限制）。
   本协议是作为用户的您与本APP运营所有者之间就农场提供的在线租赁、在线雇佣、在线种植、在线养殖、物流配送服务等相关事宜所订立的协议，请您仔细阅读本协议，您点击同意本协议并完成全部注册流程后，本协议即对双方产生约束力。
   如果您不同意该协议或其中任何条款约定，请您停止注册登录。如果您按照注册流程提示信息并点击同意本协议且完成全部注册流程后，即表示您已充分阅读、理解并接受本协议的全部内容，并同意我们将您的必须信息共享给完成服务所必须的第三方合作方。
  一、关于本APP用户同意服务条款的确认及同意
  用户同意所有注册协议条款并完成注册程序即成为本APP的正式用户，且用户确认：遵守本协议关于双方权利义务的约定，如法律另有强制性规定依其约定。用户完成注册程序后应自行妥善保管账号及密码，并对通过该账号所进行的一切关联行为负责。
  用户点击同意本协议的，即视为用户确认自己具有通过本APP进行相关操作的法律权利能力和行为能力，并能够独立承担法律责任，如果您在18周岁以下，您只能在父母或监护人的监护下参与本站的使用，其产生的权利义务均由父母或监护人行使。本APP拥有在中华人民共和国法律允许的范围内决定拒绝服务、关闭用户账户、清除或编辑内容或拒绝提供服务的权利。
  本APP通过互联网依法为用户提供互联网信息相关服务，用户在同意本协议即相关规定的情况下，有权使用本APP的相关服务。在提供服务过程中，为增进用户体验、完善服务内容，将不定时提供软件更新服务，更新可能会采取软件替换、修改、功能强化、版本升级等形式。软件更新后，我们将不再保证旧版软件的使用及服务，请用户及时下载最新版本。
  二、用户信息与隐私保护
  用户需如实向本站提供注册资料，用户需确认并同意所提供的注册资料真实、准确、完整、合法有效，用户注册信息及资料如有变动的，应及时更新其注册资料。我们提供服务时，可能会收集、储存和使用与您有关的信息。如果您不能如实提供下列相关信息，可能无法注册成为我们的用户或无法享受我们提供的某些服务，或者无法达到相关服务拟达到的效果。如果用户提供的注册资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，且本APP有权终止用户享有所有服务的权利。
  为了方便您使用本APP的相关功能，您在使用本APP浏览信息、进行农场操作等，本APP将会储存您的信息，包括但不限于用户的真实姓名/名称、通讯地址、联系电话、电子邮件等隐私信息，如您使用我们的服务需与用户的银行账户或其他支付工具的账户关联方能实现时，您向我们提供您的银行账户信息或其他支付工具的账户信息。除法律法规规定的情形外，本站将对用户隐私信息予以严格保密，除非得到用户的授权或法律另有规定，我们不会向第三方披露。
  用户需同意，农场拥有通过电子邮件、电话、短信等形式向在本站注册、购买服务的用户发送服务信息、订单信息、活动信息等告知信息的权利。如用户存在将本人注册账号交给他人使用导致信息泄露的情况，本APP将不承担任何责任，其所造成的不利后果需由用户自行承担。如需配合行政监督机关、司法机关等国家机关的工作时，在法律及政策允许范围内，本APP有提供用户相关信息的权利和义务。
  三、用户的言行义务
  本协议依据国家相关法律法规规章制定，用户同意并严格遵守以下义务：
  1、 不得传播或发表：煽动抗拒颠覆分裂国家政权的言论，破坏宪法、法律、行政法规等实施的言论、煽动民族仇恨、民族歧视、破坏民族团结的言论。
  2、 传输信息须符合中国的相关规定，不得利用本APP从事违法犯罪的活动，不得窃取本APP有关的商业秘密、个人信息等，不得侵入干扰本APP的计算机信息系统破坏正常运营，不得传播发表任何不良信息，不得利用本APP注册的账户进行非法牟利活动。
  3、 不得干扰发布侵犯他人相关知识产权的内容，包括但不限于他人著作权、商标权等。
  如本APP一经发现上述信息，即可不经任何授权直接对相关信息进行删除。如用户未遵守上述规定，本APP有权采取关停用户账户的措施，同时，用户须对自己的行为言论承担法律责任。
  四、 服务约定
  服务类型
  用户在选择租用、种植项目后，本农场只为用户做提供打理项目相关收费工具服务的提示，不强迫用户购买，但如过出现打理不及、或缺少工具服务等情况，会造成产品损失的后果，因此用户需按农场要求或提示按时打理所进行的项目，并承担前述不利后果。
  租用、种植项目需经历该产品的必要生长阶段时间，具体各阶段及时间以作物等生长的自然规律和APP相关提示为准。
  当租用、种植项目达到收获标准时，我们将通过本APP与您核对收获产品的相关信息，收获产品的名称品质数量均以作物实际成长为准，在配送之前请您务必确认送货地址、电话、收货人等相关信息。收货人与用户注册信息不一致的，收货人的意思表示视为用户的意思表示。由于市场变化及商业波动等难以控制的因素影响，本APP无法保证项目产品随时都处于有货的状态，如出现缺货情况，我们将与您联系以解决该情况。
  邮费承担
  用户购买的服务项目的产出需满足发货条件才可进行下单配送，具体数量以实际产出状况为准。如因出现下列情况造成订单无法配送，农场不承担责任：用户通讯信息错误、货物无人接受或拒收、自然灾害等不可抗力因素。当用户签收产品之时，除产品质量、数量问题外，即视为对于产品的认可接受并不得以此追究本APP的责任。如因产品质量、数量问题需进行退换货，需及时与本APP的工作人员取得联系。
  五、权属条款
  用户如接受本协议，即表明用户将其在注册使用期间在本APP发表的任何信息的财产性权利、著作权财产权全部转让给农场使用，用户同意本APP有权就任何主体的侵权行为进行维权。公司是本APP的制作者，拥有本APP及相关网站内容和资源的著作权等合法权利，受国家保护，其有权对于本协议及APP内容进行修改并进行公示，无须另行通知用户。公司对本协议及本站内容拥有解释权。
  本APP所刊载的所有资料信息，均属于公司的排他性财产，受国家法律的保护，未经公司书面许可，任何单位和个人不得以任何方式非法全部或部分复制、转载、引用本APP的信息内容，否则违者将被追究法律责任。
  六、责任限制及免责声明
  除另有明确的书面说明，本站及其所包含的或以其它方式通过本沾提供给您的全部信息、内容、材料、产品和服务，匀是在＂按现状＂和＂按现有＂的基础上提供的。农场不对本APP的运营及其包含在本网站上的信息、内容、材料、产品或服务作任何形式的、明示或默示的声明或担。
  本APP不担保其所包含的或以其它方式通过本站提供给您的信息或从本站发出的电子信件、信息没有在传输过程中可能被网络攻击所产生的病毒或其他有害成分。用户理解并同意，在使用本服务的过程中，可能会遇到不可抗力或其它无法控制的原因，如黑客攻击、计算机病毒、通信线路障等，使本站服务发生中断或无法正常使用导致网上交易无法完成或丢失有关的信息、记录等，本APP会尽合理努力协助处理善亏事宜，但是由此给用户造成的损失本APP在法律允许的范围内免责。
  七、 违约责任
  如果发现用户有违反本协议约定的行为，本APP有权对相关内容进行删除、屏蔽，并视行为情节对违规帐号处以包括但不限于警告、限制或禁止使用部分或全部功能、帐号封禁直至注销的处罚。本APP有权依据合理判断对违反有关法律法规或本协议规定的行为采取适当的措施，并依据法律法规的规定，及时保存有关信息并向有关部报告，用户应当承担由此而产生的法律责任。因用户违反本协议或相关服务条款的规定，导致第三方主张权益受损，第三方的所有损失索赔均由用户独立承担，因上述原因造成本APP所有者遭受损失的，一并由用户承担。
  八、协议更新及用户关注义务
  根据国家法律法规变化及本站运营需要，本APP有权对本协议进行补充修改，补充修改后的协议一经公示即生效并代替原协议。用户可随时登陆查阅最新协议。用户有义务持续关注并阅读最新版的协议及公告。如用户不同意更新后的协议内容，需立即停止接受本APP依据本协议提供的服务。如用户迷续使用本网站提供的服务的，即视为知悉变更更新的内容，并示接受。本APP建议用户在使用前，务必阅读相关协议和公告。 
  九、法律管辖适用与其他
  本协议提示的订立、执行和争议的解决均应使用中华人民共和国法律，如用户就本协议内容或在接受服务的过程中发生争议，双方同意就争议先进行友好协商，协商不成时，由潍坊市寒亭区人民法院进行管辖。
  本APP已经依法许可并备案，本APP及全部的规则事宜最终解释权归公司所有，如在使用APP期间产生分歧或有未尽事宜发生，一切均以公司的解释为准。
	</pre>
		</div>
	</body>
	<script type="text/javascript" src="../../js/mui.min.js"></script>
	<script type="text/javascript" src="../../a-core/util/log.js"></script>
	<script type="text/javascript" src="../../a-core/util/local-storage.js"></script>
	<script type="text/javascript" src="../../a-core/util/server.js"></script>
</html>
