<!DOCTYPE html>
<html>

	<head>
		<title>用户个人隐私保密协议</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<style>
			pre {
			    white-space:pre-wrap;/*css-3*/
			      white-space:-moz-pre-wrap;/*Mozilla,since1999*/
			      white-space:-pre-wrap;/*Opera4-6*/
			      white-space:-o-pre-wrap;/*Opera7*/
			      word-wrap:break-word;/*InternetExplorer5.5+*/
				  padding: 7px;
				  font-size: 15px;
			}
		</style>
	</head>

	<body>
		<head>
			<header class="mui-bar mui-bar-nav a-header" style="background-color: white;">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: black;"></a>
				<h1 class="mui-title" id="ipt-header" style="color: #000000;font-size: 20px;">用户个人隐私保密协议</h1>
			</header>
		</head>
		<div class="mui-content" style="background-color: white;">
			<pre class="content" >
   尊敬的用户，欢迎阅读本协议：
   山东农主农业科技集团有限公司（以下简称农主农业）将严格遵守法律法规，遵循以下隐私保护原则，为用户提供更加安全、可靠的服务。
   农主农业依据《用户个人隐私保密协议》的规定提供服务，本协议具有合同效力。用户必须完全同意以下所有条款，才能保证享受到更好的服务。用户使用服务的行为将视为对本协议的接受，并同意接受本协议各项条款的约束。
   尊重个人隐私是山东农主农业科技集团有限公司的责任，山东农主农业线上种植APP（以下简称大农主APP）作为农主农业旗下的一款软件APP，尊重并保护所有使用服务用户的个人隐私权，并将遵守行业通用的标准来保护用户的私人信息。为了给用户提供更准确、更有个性化的服务，除本隐私保密协议另有规定外，在未征得用户事先许可的情况下，不会将这些信息对外披露或向第三方提供，但由于政府要求、法律政策需要等原因除外。但是任何通过网络发送的信息或电子版本的存储方式都无法确保100%的安全性。因此，农主农业会尽力使用商业上可接受的方式来保护用户的个人信息，但不对用户信息的安全作任何担保。
   农主农业有权在必要时修改各类服务条例，各类条例一旦发生变动，将会在大农主APP的重要页面上提示修改内容，用户如不同意新的修改内容，须立即停止使用本协议约定的服务，否则视为用户完全同意并接受新的修改内容。根据客观情况及经营方针的变化，农主农业有中断或停止服务的权利，用户对此表示理解并完全认同。
   用户必须合法使用网络服务，不作非法用途，遵守所有使用网络服务的网络协议、规定、程序和惯例。
   本保密协议的解释权归山东农主农业科技集团有限公司所有。
   山东农主农业科技集团有限公司

	</pre>
		</div>
	</body>
	<script type="text/javascript" src="../../js/mui.min.js"></script>
	<script type="text/javascript" src="../../a-core/util/log.js"></script>
	<script type="text/javascript" src="../../a-core/util/local-storage.js"></script>
	<script type="text/javascript" src="../../a-core/util/server.js"></script>
</html>
