<!DOCTYPE html>
<html>

	<head>
		<title>关于</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="update.css" />
	</head>

	<body>
		<head>
			<header class="mui-bar mui-bar-nav a-header" style="background-color: white;">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: black;"></a>
				<h1 class="mui-title" id="ipt-header" style="color: #000000;font-size: 20px;">关于应用</h1>
			</header>
		</head>
		<div class="mui-content" style="background-color: white;">
			<p style="margin-top:80px;"><img  style="width: 30%; height: 30%;" src="../../images/homemenu/wdtd.png" /></p>
			<p style="color: #000000;font-size: 18px;"><span id="phone-number"></span></p>
			<!-- <p><span style="color:#5bc2fd;font-size:17px" id="btn-update">检查更新</span></p> -->
			<div style="margin-top: 40%;">
				<p id="service-agreement">《软件许可及服务协议》</p>
				<p id="privacy-agreement">《隐私协议》</p>
			</div>
			<div style="margin-top: 10%;">
				<p id="service-agreement">Copyright©2020</p>
				<p id="privacy-agreement">山东农主农业科技集团有限公司  版权所有</p>
			</div>
			
		</div>	
	</body>
	<script type="text/javascript" src="../../js/mui.min.js"></script>
	<script type="text/javascript" src="../../a-core/util/log.js"></script>
	<script type="text/javascript" src="../../a-core/util/local-storage.js"></script>
	<script type="text/javascript" src="../../a-core/util/server.js"></script>
	<script type="text/javascript" src="../../server/sys/aboutus-server.js"></script>
	<script type="text/javascript" src="update-variable.js"></script>
	<script type="text/javascript" src="update-func.js"></script>
	<script type="text/javascript" src="update.js"></script>

</html>