<!DOCTYPE html>
<html>

	<head>
		<title>我的钱包</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="money.css" />
	</head>

	<body>
		<head>
			<header class="mui-bar mui-bar-nav a-header" style="background-color: white;">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: black;"></a>
				<h1 class="mui-title" id="ipt-header" style="color: #000000;font-size: 20px;">我的钱包
				</h1>
				<a class="mui-icon mui-icon-right-nav mui-pull-right" style="color: black;font-size: 15px;line-height: 25px;margin-right: 5px;" id="btn_record">账单记录</a>
			</header>
		</head>
		<div class="mui-content" style="background-color: #F0F0F0;">
			<ul class="mui-table-view" style="margin-left: 7px;margin-right: 7px;background-color: #F0F0F0;">
					<li style="height: 100px;padding-top: 40px;" >
					<span style="float: left;margin-left: 7%;">余额</span>				
					<span style="float: right;"></span>
					<span style="float: right;color: red;font-size: 24px;margin-right: 3%;" id="ipt_money">0</span>
					</li>
					<li  style="height: 60px;" >
					<a style="background-color: white; color: #0cd298;border: 1px solid #0cd298;width: 180px;margin:0 auto" class="act-but submit" id='btn_tixian'>提现</a>
					</li>
					<li  style="height: 60px;display: none;" id="btn_bank_open">
					<a style="background-color: white; color: #0cd298;border: 1px solid #0cd298;width: 180px;margin:0 auto" class="act-but submit" id='btn_tixian_bank'>提现到银行卡</a>
					</li>
			</ul>
			<ul class="mui-table-view" style="margin-left: 7px;margin-right: 7px;background-color: #F0F0F0;margin-top: 20px;">
					<li style="height: 100px;padding-top: 40px;" >
					<span style="float: left;margin-left: 7%;">可到账金额</span>				
					<span style="float: right;"></span>
					<span style="float: right;color: #0cd298;font-size: 24px;margin-right: 3%;" id="ipt_yue">0</span>
					</li>
					<li  style="height: 60px;">
					<a style="background-color: white; color: #0cd298;border: 1px solid #0cd298;width: 180px;margin:0 auto" class="act-but submit" id='btn_yhk'>转到银行卡</a>
					</li>
			</ul>
		</div>
	</body>
	<script type="text/javascript" src="../../js/mui.js"></script>
	<script type="text/javascript" src="../../a-core/util/log.js"></script>
	<script type="text/javascript" src="../../a-core/util/local-storage.js"></script>
	<script type="text/javascript" src="../../a-core/util/server.js"></script>
	<script type="text/javascript" src="../../server/my/my-server.js"></script>
	<script type="text/javascript" src="../../server/wallet/wallet-server.js"></script>
	<script type="text/javascript" src="../../server/bank/bank-server.js"></script>
	<script type="text/javascript" src="money-variable.js"></script>
	<script type="text/javascript" src="money-func.js"></script>
	<script type="text/javascript" src="money.js"></script>
</html>
