.mui-bar-nav {
	top: 0;
	-webkit-box-shadow: 0 1px 6px #ccc;
	box-shadow: 0 0px 0px #ccc;
}


.app-head-left {
	width: 100%;
	height: 70%;
	text-align: center;
}

.app-head-left img {
	margin-top: 50px;
	border-radius: 80px;
	border: 1px lightgray solid;
}

li{
	height: 46px;
}

li img{
	margin-left: 3%;
	height: 28px;
}

li span{
	position: relative;
	bottom: 7px;
	left: 8px;
}


