<!DOCTYPE html>
<html>

	<head>
		<title>推荐人</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/pull-refresh.css" />
		<link rel="stylesheet" type="text/css" href="recommend.css" />
	</head>

	<body>
		<head>
			<header class="mui-bar mui-bar-nav a-header" style="background-color: white;">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: black;"></a>
				<h1 class="mui-title" id="ipt-header" style="color: #000000;font-size: 20px;">我推荐的人</h1>
			</header>
		</head>
		<div class="mui-content mui-scroll-wrapper " style="background-color: #F0F0F0;" id="pullrefresh" >
			<div class="mui-scroll" id="box-scroll" >
				<ul class="mui-table-view" id="record-list" style="background:#F0F0F0;margin-top: 10px;">					
					<!-- <li class="mui-table-view-cell" style="margin-bottom: 5px;">
						<p><span>litianer</span><span style="float: right;">18363673826</span></p>
					</li> -->
				</ul>
			</div>

		</div>
	</body>
	<script type="text/javascript" src="../../js/mui.js"></script>
	<script type="text/javascript" src="../../a-core/util/log.js"></script>
	<script type="text/javascript" src="../../a-core/util/local-storage.js"></script>
	<script type="text/javascript" src="../../a-core/util/server.js"></script>
	<script type="text/javascript" src="../../server/my/my-server.js"></script>
	<script type="text/javascript" src="../../js/mui.pullToRefresh.js"></script>
	<script type="text/javascript" src="../../js/mui.pullToRefresh.material.js"></script>
	<script type="text/javascript" src="../../ui/my/recommend.js"></script>
	<script type="text/javascript" src="recommend-variable.js"></script>
	<script type="text/javascript" src="recommend-func.js"></script>
	<script type="text/javascript" src="recommend.js"></script>

</html>
