
.fl{
	float: left;
}
.fr{
	float: right;
}
.mui-sec{
	width: 95%;
	height:330px;
	background:#FFFFFF ;
	margin-top: 15%;
	margin-left: 2%;
	border-radius: 1.25rem;
	padding-top: 2%;
	padding-left: 2%;
}

.mui-fooder {
	width: 100%;
	height:40px;
	background: #0CD298;
	text-align: center;
	line-height: 30px;
	position:fixed;
	top: 94%;
}
.mui-fooder p{
	color: #FFFFFF;
	font-size:18px;
}
















