<!DOCTYPE html>
<html>
	<head>
		<title>已发货</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">	
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/pull-refresh.css" />
		<link rel="stylesheet" type="text/css" href="yifahuo.css"/>
	</head>
	<body>
		<div class="mui-content mui-scroll-wrapper " style="background-color: #F0F0F0;padding-top: 1px;" id="pullrefresh">
			<div class="mui-scroll" id="box-scroll">
				<ul class="mui-table-view" id="yfh_list" style="background:#F0F0F0;">
					<!-- <li class="mui-table-view-cell mui-media">
									<div class="mui-Received">
										<img class="mui-media-object mui-pull-left" src="'+aServer.ApiUrl+data.img+'" style="max-width: 80px;height: 80px;border-radius: 10px;" onerror="nofind(this)">
										<div class="mui-media-body">
											<p><span style="color: green;font-size: 14px;"><b></b></span><span style="float: right;">已发货</span></p>
											<p style="font-size: 13px;"><span>种植日期:</span><span></span></p>
											<p style="font-size: 13px;"><span>收获日期:</span><span></span></p>
											<p style="font-size: 13px;"><span>邮寄数量:</span><span></span><span>公斤</span></p>						
										</div>
										<div>
											<p><span>顺丰快递</span>:<span>1234567890123445</span><button type="button" class="mui-btn mui-btn-outlined btn-seed">确认收货</button></p>
										</div>
									</div>
								</li> -->
				</ul>
			</div>
		</div>	
		<script type="text/javascript" src="../../js/mui.js"></script>
		<script type="text/javascript" src="../../a-core/util/log.js"></script>
		<script type="text/javascript" src="../../a-core/util/local-storage.js"></script>
		<script type="text/javascript" src="../../a-core/util/server.js"></script>
		<script type="text/javascript" src="../../js/mui.pullToRefresh.js"></script>
		<script type="text/javascript" src="../../js/mui.pullToRefresh.material.js"></script>
		<script type="text/javascript" src="../../ui/notice-list.js"></script>
		<script type="text/javascript" src="../../server/warehouse/warehouse-server.js"></script>
		<script type="text/javascript" src="../../ui/warehouse/yifahuo.js"></script>
		<script type="text/javascript" src="yifahuo-variable.js"></script>
		<script type="text/javascript" src="yifahuo-func.js"></script>
		<script type="text/javascript" src="yifahuo.js"></script>		
	</body>
</html>
