<!DOCTYPE html>
<html>
	<head>
		<title>未发货</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/pull-refresh.css" />
		<link rel="stylesheet" type="text/css" href="weifahuo.css" />
	</head>
	<body>
		<div class="mui-content mui-scroll-wrapper " style="background-color: #F0F0F0;padding-top: 1px;" id="pullrefresh">
			<div class="mui-scroll" id="box-scroll">
				<ul class="mui-table-view" id="box_wfh" style="background:#F0F0F0;">
					
				</ul>
			</div>
		</div>
		<script type="text/javascript" src="../../js/mui.js"></script>
		<script type="text/javascript" src="../../a-core/util/log.js"></script>
		<script type="text/javascript" src="../../a-core/util/local-storage.js"></script>
		<script type="text/javascript" src="../../a-core/util/server.js"></script>
		<script type="text/javascript" src="../../js/mui.pullToRefresh.js"></script>
		<script type="text/javascript" src="../../js/mui.pullToRefresh.material.js"></script>
		<script type="text/javascript" src="../../server/warehouse/warehouse-server.js"></script>
		<script type="text/javascript" src="../../ui/warehouse/weifahuo.js"></script>
		<script type="text/javascript" src="weifahuo-variable.js"></script>
		<script type="text/javascript" src="weifahuo-func.js"></script>
		<script type="text/javascript" src="weifahuo.js"></script>
		<script type="text/javascript">
		</script>
	</body>
</html>
