<!DOCTYPE html>
<html>
	<head>
		<title>已发货</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/pull-refresh.css" />
		<link rel="stylesheet" type="text/css" href="yifahuo.css" />
	</head>
	<body>
		<div class="mui-content mui-scroll-wrapper " style="background-color: #F0F0F0;padding-top: 1px;" id="pullrefresh">
			<div class="mui-scroll" id="pullrefresh">
				<ul class="mui-table-view" id="yfh_list" style="background:#F0F0F0;">
					<!-- <li class="mui-table-view-cell mui-media mui-collapse-content">
						<div class="mui-Received">
							<img class="mui-media-object mui-pull-left" src="'+aServer.ApiUrl+data.img+'" style="max-width: 80px;height: 80px;border-radius: 10px;"
							 onerror="nofind(this)">
							<div class="mui-media-body">
								<div style="height: 43px;">
									<p style="overflow: hidden;height: 40px;color: #11872a;"></p>
								</div>
								<p style="font-size: 13px;color: #000000;"><span>邮寄数量:</span><span style="float: right;font-size: 11px;margin-left: 4px;">公斤</span><span
									 style="float: right;font-size: 15px;"></span></p>
								<p style="font-size: 13px;color: #000000;"><span>配送方式:</span><span style="float:right">快递</span></p>
							</div>
						</div>
						<div>
							<p><img src="../../images/cangku/ztkd.png" style="height: 14px;padding-top: 2px;margin-right: 4px;"><span style="color: #000000;"></span><img
								 src="../../images/cangku/copy.png" data-num="123456" style="height: 13px;padding-top: 2px;margin-left: 10px;"><button
								 type="button" class="mui-btn mui-btn-outlined btn-seed">确认收货</button></p>
						</div>
					</li> -->
				</ul>
			</div>
		</div>
		<script type="text/javascript" src="../../js/mui.js"></script>
		<script type="text/javascript" src="../../a-core/util/log.js"></script>
		<script type="text/javascript" src="../../a-core/util/local-storage.js"></script>
		<script type="text/javascript" src="../../a-core/util/server.js"></script>
		<script type="text/javascript" src="../../js/mui.pullToRefresh.js"></script>
		<script type="text/javascript" src="../../js/mui.pullToRefresh.material.js"></script>
		<script type="text/javascript" src="../../ui/notice-list.js"></script>
		<script type="text/javascript" src="../../server/warehouse/warehouse-server.js"></script>
		<script type="text/javascript" src="../../ui/warehouse/yifahuo.js"></script>
		<script type="text/javascript" src="yifahuo-variable.js"></script>
		<script type="text/javascript" src="yifahuo-func.js"></script>
		<script type="text/javascript" src="yifahuo.js"></script>
	</body>
</html>
