.mui-fooder {
	width: 100%;
	height:40px;
	background: #0CD298;
	text-align: center;
	line-height: 30px;
	position:fixed;
	top: 94%;
}
.mui-fooder p{
	color: #FFFFFF;
	font-size:18px;
}

.li-wxz{
	background-color: white;
}

.li-xz{
	background-color: #000000;
}













