<!DOCTYPE html>
<html>

	<head>
		<title>我的积分</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="wallet.css" />
	</head>

	<body>
		<head>
			<header class="mui-bar mui-bar-nav a-header" style="background-color: white;">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: black;"></a>
				<h1 class="mui-title" id="ipt-header" style="color: #000000;font-size: 20px;">我的积分</h1>
				<!-- <a class="mui-icon mui-icon-right-nav mui-pull-right" style="color: black;font-size: 15px;line-height: 25px;" id="btn_record">账单记录</a> -->
			</header>
		</head>
		<div class="mui-content" style="background-color: #F0F0F0;">
			<ul class="mui-table-view" style="margin-left: 7px;margin-right: 7px;background-color: #F0F0F0;">
					<li style="height: 100px;padding-top: 40px;margin-bottom: 5px;" >
					<span style="float: left;">积分</span>				
					<span style="float: right;"></span>
					<span style="float: right;color: red;font-size: 24px;" id="ipt_money">0</span>
					</li>
					
					<!-- <li  style="height: 50px;padding-top:5px" >
					<span style="float: left;">提现金额(￥)</span>				
					</li>
					<li  style="height: 70px;text-align: center;margin-bottom: 1px;" >
					<input style="width: 30%;border: 0;border-radius: 0; border-bottom: 1px solid;text-align: center;font-size: 22px;" type="number" id="ipt_extract" />			
					</li>
					<li  style="height: 50px;margin-bottom: 1px;padding-top:11px" >
					<span style="float: left;">支付宝账号</span><input style="float: right;width: 60%;text-align: right;border: 0;" id="ipt_number"/>			
					</li>
					<li  style="height: 40px;margin-bottom: 1px;padding-top:11px" >
					<span style="float: left;">姓名</span><input style="float: right;width: 60%;text-align: right;border: 0;" id="ipt_name"/>		
					</li> -->
					<li  style="height: 60px;padding-top:11px" >
					<a style="background-color: #42bf1b; color: white;width: 180px;margin:0 auto" class="act-but submit" id='btn_chongzhi'>充值</a>
					</li>
					<!-- <li  style="height: 60px;padding-top:11px" >			
					<a style="background-color: #f65c53; color: white;width: 180px;margin:0 auto" class="act-but submit" id='btn_tixian'>提现</a>
					</li> -->
				</ul>
		</div>
	</body>
	<script type="text/javascript" src="../../js/mui.js"></script>
	<script type="text/javascript" src="../../a-core/util/log.js"></script>
	<script type="text/javascript" src="../../a-core/util/local-storage.js"></script>
	<script type="text/javascript" src="../../a-core/util/server.js"></script>
	<script type="text/javascript" src="../../server/my/my-server.js"></script>
	<script type="text/javascript" src="../../server/wallet/wallet-server.js"></script>
	<script type="text/javascript" src="wallet-variable.js"></script>
	<script type="text/javascript" src="wallet-func.js"></script>
	<script type="text/javascript" src="wallet.js"></script>
</html>
