<!DOCTYPE html>
<html>

	<head>
		<title>积分记录</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/pull-refresh.css" />
		<link rel="stylesheet" type="text/css" href="wallet-record.css" />
	</head>

	<body>
		<head>
			<header class="mui-bar mui-bar-nav a-header" style="background-color: white;">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: black;"></a>
				<h1 class="mui-title" id="ipt-header" style="color: #000000;font-size: 20px;">积分记录</h1>
			</header>
		</head>
		<div class="mui-content mui-scroll-wrapper " style="background-color: #F0F0F0;" id="pullrefresh" >
			<div class="mui-scroll" id="box-scroll">
				<ul class="mui-table-view" id="record-list" style="background:#F0F0F0;">
					<!-- <li class="mui-table-view-cell mui-media">
							<div class="mui-media-body">
								<p>提现</p>
								<p class="mui-ellipsis">
									<span class="grade">2019年12月10日 14:20</span>
								</p>
							</div>
						<div class="liRight">
							<span style="color: #13D1BE;">-500</span>
							<span class="war">￥</span>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
							<div class="mui-media-body">
								<p>提现</p>
								<p class="mui-ellipsis">
									<span class="grade">2019年12月10日 14:20</span>
								</p>
							</div>
						<div class="liRight">
							<span style="color: #13D1BE;">-500</span>
							<span class="war">￥</span>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
							<div class="mui-media-body">
								<p>提现</p>
								<p class="mui-ellipsis">
									<span class="grade">2019年12月10日 14:20</span>
								</p>
							</div>
						<div class="liRight">
							<span style="color: #13D1BE;">-500</span>
							<span class="war">￥</span>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
							<div class="mui-media-body">
								<p>提现</p>
								<p class="mui-ellipsis">
									<span class="grade">2019年12月10日 14:20</span>
								</p>
							</div>
						<div class="liRight">
							<span style="color: #13D1BE;">-500</span>
							<span class="war">￥</span>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
							<div class="mui-media-body">
								<p>提现</p>
								<p class="mui-ellipsis">
									<span class="grade">2019年12月10日 14:20</span>
								</p>
							</div>
						<div class="liRight">
							<span style="color: #13D1BE;">-500</span>
							<span class="war">￥</span>
						</div>
					</li> -->
				</ul>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/mui.js"></script>
	<script type="text/javascript" src="../../a-core/util/log.js"></script>
	<script type="text/javascript" src="../../a-core/util/local-storage.js"></script>
	<script type="text/javascript" src="../../a-core/util/server.js"></script>
	<script type="text/javascript" src="../../server/wallet/wallet-server.js"></script>
	<script type="text/javascript" src="../../js/mui.pullToRefresh.js"></script>
	<script type="text/javascript" src="../../js/mui.pullToRefresh.material.js"></script>
	<script type="text/javascript" src="../../ui/wallet/wallet-record.js"></script>
	<script type="text/javascript" src="wallet-record-variable.js"></script>
	<script type="text/javascript" src="wallet-record-func.js"></script>
	<script type="text/javascript" src="wallet-record.js"></script>

</html>
