/* .mui-scroll {
	min-height: 100%;
} */
input{
	-webkit-user-select:text !important
}

li{
	background-color: white;
}

.mui-table-view-cell:after {
	height: 0;
}

.mui-table-view-cell.mui-active{
	background-color: white;
}

body {
	background-color: white;
}
.mui-content{
	width: 95%;
	height: 400px;
	margin-left: 2%;
}
p{
	margin: 0;
	padding: 0;
}
