<!DOCTYPE html>
<html>

	<head>
		<title>我的地址</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="address.css" />
	</head>

	<body>
		<head>
			<header class="mui-bar mui-bar-nav a-header" style="background-color: white;">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: black;"></a>
				<h1 class="mui-title" id="ipt-header" style="color: #000000;font-size: 20px;">我的地址</h1>
				<a class="mui-icon mui-icon-right-nav mui-pull-right" style="color: black;font-size: 15px;line-height: 25px;" id="new_address">新增地址</a>
			</header>
		</head>
		<div class="mui-content" style="background-color: #F0F0F0;">
			<div class="mui-scroll" id="box-scroll">
				<ul class="mui-table-view" id="address-list" style="background:#F0F0F0;">
					<!-- <li class="mui-table-view-cell mui-media" data-id='1'>
						<a class="mui-navigate-right">
							<img class="mui-media-object mui-pull-left border" src="../../images/homemenu/address.png" style="height: 30px;width: 24px;">
							<div class="mui-media-body">
								<p><span>刑天</span><span>15869784892</span></p>
								<p class="mui-ellipsis top8"><span style="color: red;background-color: #F0AD4E;">默认</span><span>山东省潍坊市新华路玄武街红枕安悦酒店905</span></p>
							</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media" >
						<a class="mui-navigate-right">
							<img class="mui-media-object mui-pull-left border" src="../../images/homemenu/address.png" style="height: 30px;width: 24px;">
							<div class="mui-media-body">
								<p><span>刑天</span><span>15869784892</span></p>
								<p class="mui-ellipsis top8">山东省潍坊市新华路玄武街红枕安悦酒店905</p>
							</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media" >
						<a class="mui-navigate-right">
							<img class="mui-media-object mui-pull-left border" src="../../images/homemenu/address.png" style="height: 30px;width: 24px;">
							<div class="mui-media-body">
								<p><span>刑天</span><span>15869784892</span></p>
								<p class="mui-ellipsis top8">山东省潍坊市新华路玄武街红枕安悦酒店905</p>
							</div>
						</a>
					</li> -->
				</ul>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/mui.js"></script>
	<script type="text/javascript" src="../../a-core/util/log.js"></script>
	<script type="text/javascript" src="../../a-core/util/local-storage.js"></script>
	<script type="text/javascript" src="../../a-core/util/server.js"></script>
	<script type="text/javascript" src="../../server/notice-list-server.js"></script>
	<script type="text/javascript" src="../../js/mui.pullToRefresh.js"></script>
	<script type="text/javascript" src="../../js/mui.pullToRefresh.material.js"></script>
	<script type="text/javascript" src="../../ui/notice-list.js"></script>
	<script type="text/javascript" src="address-variable.js"></script>
	<script type="text/javascript" src="address-func.js"></script>
	<script type="text/javascript" src="address.js"></script>
</html>
