.mui-table-view li {
		
	background-color: white;

	
}



p {
	color: #000000;
}

.li-xz {
	border: #0cd298 solid 2px;
	border-radius: 11px;
	height:98px;
	margin-left: 10px;
	margin-bottom: 20px;
	margin-right: 10px;
	
}

.li-wxz {
	border: #F0F0F0 solid 2px;
	border-radius: 11px;
	height: 98px;
	margin-left: 10px;
	margin-bottom: 20px;
	margin-right: 10px;


}
