<!DOCTYPE html>
<html>

	<head>
		<title>全部订单</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="gmzz-new.css" />
	</head>

	<body>
		<head>
			<header class="mui-bar mui-bar-nav a-header" style="background-color: white;">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: black;"></a>
				<h1 class="mui-title" id="ipt-header" style="color: #000000;font-size: 20px;">购买种子</h1>
				</header>
		</head>
		<nav class="mui-bar mui-bar-tab " style="top: 44px;background-color: white;">
			<div style="width: 50%;margin: 0 auto;">
				<a class="mui-tab-item mui-active" data-href="gmzz-zz.html" id="bbbsChannel_zhongzi">
					<span class="mui-tab-label">幼苗<i></i></span>
				</a>
				<a class="mui-tab-item" data-href="gmzz-ym.html" id="bbbsChannel_youmiao">
					<span class="mui-tab-label">结果<i></i></span>
				</a>
			</div>
		</nav>
	</body>
	<script type="text/javascript" src="../../js/mui.js"></script>
	<script type="text/javascript" src="../../a-core/util/log.js"></script>
	<script type="text/javascript" src="../../a-core/util/local-storage.js"></script>
	<script type="text/javascript" src="../../a-core/util/server.js"></script>
	<script type="text/javascript" src="../../server/notice-list-server.js"></script>
	<script type="text/javascript" src="../../js/mui.pullToRefresh.js"></script>
	<script type="text/javascript" src="../../js/mui.pullToRefresh.material.js"></script>
	<script type="text/javascript" src="../../ui/notice-list.js"></script>
	<script type="text/javascript" src="gmzz-new-variable.js"></script>
	<script type="text/javascript" src="gmzz-new-func.js"></script>
	<script type="text/javascript" src="gmzz-new.js"></script>
</html>
