<!DOCTYPE html>
<html>

	<head>
		<title>交易大厅</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<!-- <link rel="stylesheet" type="text/css" href="../../css/pull-refresh.css" /> -->
		<link rel="stylesheet" type="text/css" href="gmzz-zz.css" />
	</head>

	<body>
		<div class="mui-content mui-scroll-wrapper " style="background-color: #F0F0F0;" id="pullrefresh">
			<img src="../../images/homemenu/bannerTwo.jpg" style="width: 100%;height: 170px;padding: 1%;border-radius: 20px;" />
			<div class="mui-scroll" id="pullrefresh">
				<ul class="mui-table-view" id="seed-list" style="background:#F0F0F0;">
					<!-- <li class="mui-table-view-cell mui-media" style="float: left;">
						<div>
							<img class="img_seed" src="../../images/homemenu/xhs.jpg" style="">
							<div class="mui-media-body">
								<p><span style="color: green;font-size: 15px;"><b>西红柿</b></span></p>
								<p style="color: black;font-size: 11px;"><span>生长周期:</span><span>60</span></p>
								<p style="color: black;font-size: 11px;"><span>成熟周期:</span><span>150</span></p>
								<p><span style="color: #FF7272;">30积分</span><button type="button" class="mui-btn mui-btn-outlined btn-seed" style="float: right;">购买</button></p>
							</div>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media" style="float: left;">
						<div>
							<img class="img_seed" src="../../images/homemenu/xhs.jpg" style="">
							<div class="mui-media-body">
								<p><span style="color: green;font-size: 15px;"><b>西红柿</b></span><span style="float: right;color: #FF7272;">30积分</span></p>
								<p style="color: black;font-size: 11px;"><span>生长周期:</span><span>60</span></p>
								<p style="color: black;font-size: 11px;"><span>成熟周期:</span><span>150</span><button type="button" class="mui-btn mui-btn-outlined btn-seed">购买</button></p>
							</div>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media" style="float: left;">
						<div>
							<img class="img_seed" src="../../images/homemenu/xhs.jpg" style="">
							<div class="mui-media-body">
								<p><span style="color: green;font-size: 15px;"><b>西红柿</b></span><span style="float: right;color: #FF7272;">30积分</span></p>
								<p style="color: black;font-size: 11px;"><span>生长周期:</span><span>60</span></p>
								<p style="color: black;font-size: 11px;"><span>成熟周期:</span><span>150</span><button type="button" class="mui-btn mui-btn-outlined btn-seed">购买</button></p>
							</div>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media" style="float: left;">
						<div>
							<img class="img_seed" src="../../images/homemenu/xhs.jpg" style="">
							<div class="mui-media-body">
								<p><span style="color: green;font-size: 15px;"><b>西红柿</b></span><span style="float: right;color: #FF7272;">30积分</span></p>
								<p style="color: black;font-size: 11px;"><span>生长周期:</span><span>60</span></p>
								<p style="color: black;font-size: 11px;"><span>成熟周期:</span><span>150</span><button type="button" class="mui-btn mui-btn-outlined btn-seed">购买</button></p>
							</div>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media" style="float: left;">
						<div>
							<img class="img_seed" src="../../images/homemenu/xhs.jpg" style="">
							<div class="mui-media-body">
								<p><span style="color: green;font-size: 15px;"><b>西红柿</b></span><span style="float: right;color: #FF7272;">30积分</span></p>
								<p style="color: black;font-size: 11px;"><span>生长周期:</span><span>60</span></p>
								<p style="color: black;font-size: 11px;"><span>成熟周期:</span><span>150</span><button type="button" class="mui-btn mui-btn-outlined btn-seed">购买</button></p>
							</div>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media" style="float: left;">
						<div>
							<img class="img_seed" src="../../images/homemenu/xhs.jpg" style="">
							<div class="mui-media-body">
								<p><span style="color: green;font-size: 15px;"><b>西红柿</b></span><span style="float: right;color: #FF7272;">30积分</span></p>
								<p style="color: black;font-size: 11px;"><span>生长周期:</span><span>60</span></p>
								<p style="color: black;font-size: 11px;"><span>成熟周期:</span><span>150</span><button type="button" class="mui-btn mui-btn-outlined btn-seed">购买</button></p>
							</div>
						</div>
					</li> -->
				</ul>
			</div>

		</div>
	</body>
	<script type="text/javascript" src="../../js/mui.js"></script>
	<script type="text/javascript" src="../../a-core/util/log.js"></script>
	<script type="text/javascript" src="../../a-core/util/local-storage.js"></script>
	<script type="text/javascript" src="../../a-core/util/server.js"></script>
	<script type="text/javascript" src="../../server/main/gmzz-server.js"></script>
	<!-- <script type="text/javascript" src="../../js/mui.pullToRefresh.js"></script> -->
	<!-- <script type="text/javascript" src="../../js/mui.pullToRefresh.material.js"></script> -->
	<script type="text/javascript" src="../../ui/main/gmzz-list.js"></script>
	<script type="text/javascript" src="gmzz-zz-variable.js"></script>
	<script type="text/javascript" src="gmzz-zz-func.js"></script>
	<script type="text/javascript" src="gmzz-zz.js"></script>

</html>
