<!DOCTYPE html>
<html>

	<head>
		<title>交易大厅</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<!-- <link rel="stylesheet" type="text/css" href="../../css/pull-refresh.css" /> -->
		<link rel="stylesheet" type="text/css" href="gmzz-zz.css" />
	</head>

	<body>
		<head>
			<header class="mui-bar mui-bar-nav a-header" style="background-color: #3ba5d7;">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: white;"></a>
				<h1 class="mui-title" id="ipt-header" style="color: white;font-size: 20px;">购买种子</h1>
				</header>
		</head>
		<div class="mui-content" style="margin-top: 44px;"></div>
			<div class="mui-scroll-wrapper" id="pullrefresh" style="padding-top: 44px;">
				<div class="mui-scroll">
					<ul class="mui-table-view" id="seed-list" style="background:#F0F0F0;margin-top: 19%;">
						<!-- <li class="mui-table-view-cell mui-media" style="float: left;background-image: url(../../images/huanggua.png);background-size: 100% 100%;">
						<div style="height: 50%;">
						
						</div>
						<div style="height: 50%; background:rgba(0, 0, 0, 0.4);filter:alpha(opacity=60);">
							<div style="height: 50%;padding-top: 10px;">
								<p style="font-size: 18px;color: #eb7b76;text-align: center;">脆爽黄瓜</p>
							</div>
							<div style="height: 50%;">
								<p style="font-size: 12px;color: white;padding-left: 12px;padding-right: 12px;"><span style="float: left;">库存:10000</span><span style="float: right;color: #f4c615;">40.00积分</span></p>
							</div>
				
						</div>
					</li>
					<li class="mui-table-view-cell mui-media" style="float: left;background-image: url(../../images/huanggua.png);background-size: 100% 100%;">
						<div style="height: 50%;">
						
						</div>
						<div style="height: 50%; background:rgba(0, 0, 0, 0.4);filter:alpha(opacity=60);">
							<div style="height: 50%;padding-top: 10px;">
								<p style="font-size: 18px;color: #eb7b76;text-align: center;">脆爽黄瓜</p>
							</div>
							<div style="height: 50%;">
								<p style="font-size: 14px;color: white;padding-left: 12px;padding-right: 12px;"><span style="float: left;">库存:10000</span><span style="float: right;color: #f4c615;">40.00积分</span></p>
							</div>
									
						</div>
					</li>
					<li class="mui-table-view-cell mui-media" style="float: left;background-image: url(../../images/huanggua.png);background-size: 100% 100%;">
						<div style="height: 50%;">
						
						</div>
						<div style="height: 50%; background:rgba(0, 0, 0, 0.4);filter:alpha(opacity=60);">
							<div style="height: 50%;padding-top: 10px;">
								<p style="font-size: 18px;color: #eb7b76;text-align: center;">脆爽黄瓜</p>
							</div>
							<div style="height: 50%;">
								<p style="font-size: 14px;color: white;padding-left: 12px;padding-right: 12px;"><span style="float: left;">库存:10000</span><span style="float: right;color: #f4c615;">40.00积分</span></p>
							</div>
									
						</div>
					</li> -->
					</ul>
				</div>
			</div>
	</body>
	<script type="text/javascript" src="../../js/mui.js"></script>
	<script type="text/javascript" src="../../a-core/util/log.js"></script>
	<script type="text/javascript" src="../../a-core/util/local-storage.js"></script>
	<script type="text/javascript" src="../../a-core/util/server.js"></script>
	<script type="text/javascript" src="../../server/main/gmzz-server.js"></script>
	<!-- <script type="text/javascript" src="../../js/mui.pullToRefresh.js"></script> -->
	<!-- <script type="text/javascript" src="../../js/mui.pullToRefresh.material.js"></script> -->
	<script type="text/javascript" src="../../ui/main/gmzz-list.js"></script>
	<script type="text/javascript" src="gmzz-zz-variable.js"></script>
	<script type="text/javascript" src="gmzz-zz-func.js"></script>
	<script type="text/javascript" src="gmzz-zz.js"></script>

</html>
