<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../css/mui.css" />
		<link rel="stylesheet" type="text/css" href="plant.css" />
	</head>
	<body>
		<div class="mui-content" style="height: 100%;" id="div-content">
			<div class="mui-portrait">
				<div style="width: 16.0rem;height: 5.2rem;float: right;margin-top: 2rem;margin-right: 1.2rem;background-image: url(../../images/nongchang/kuang.png);background-size: 100% 100%;">
					<div style="width: 64%;height: 100%;float: left;">
						<p style="margin-top: 0.7rem;margin-left: 2rem;margin-bottom: 0.1rem;font-weight: 700;font-size: 1.3rem;color: #652a01;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" id="ipt_name"> </p>
						<p style="margin-left: 2rem;color: #652a01;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><span>积分 :</span><span id="ipt_ji"></span></p>
					</div>
					<img id="ipt_tx" src="" onerror="javascript:this.src='../../images/default.png';" style="width: 5.25rem;height: 5.25rem;border-radius: 50%;float: right;" />
				</div>
				<!-- <div style="width: 5rem;height: 100%;float: right;margin-top: 1.325rem;margin-right: 5rem;">
					<div style="width:8.3rem;height: 2.3rem;background-image: url(../../images/nongchang/jifen.png); background-size: 100% 100%;
				background-repeat: no-repeat;">
						<p style="text-align: center;font-size: 1.05rem;line-height: 2.5rem;margin-left: 0.9rem;" id="ipt_ji">0</p>
					</div>
				</div> -->
			</div>
<!-- <div style="width:12rem; height: 4rem;background-image: url(../../images/nongchang/zonggong.png);background-size: 100% 100%;">
					
				</div> -->
			<div class="mui-popover" id="popover" style="width: 100px;height: 50px;background-color:rgba(0,0,0,0);margin-left: 3%;margin-top: 5%;-webkit-pointer-events: none;-moz-pointer-events: none;-ms-pointer-events: none;-o-pointer-events: none;pointer-events: none;">
				<p style="font-size: 14px;color: #366e0c;text-align:center;margin-bottom: 0;font-weight: 900;text-shadow:-1px 0 white,0 1px white,1px 0 white,0 -1px white;"
				 id="ipt-plant-name"></p>
				<p style="text-align: center;margin-bottom: 0;color: #5c290d;text-shadow:-1px 0 white,0 1px white,1px 0 white,0 -1px white; "><span
					 id="ipt-plant-day"></span></p>
			</div>

			<div id="box_jc">
				<a href="javascript:void(0)">
					<img src="../../images/nongchang/jiancai_new.png" style="width: 40%;height: 17%;position: absolute;top: 31%;left: 35%;"
					 id="btn_toucai">
					<!-- <img src="../../images/scl/jchl.png" style="width: 32%;height: 17%;position: absolute;top: 18%;left: 44%;visibility:hidden;"
					 id="btn_huishou"> -->
				</a>
			</div>

			<div class="mui-plant" id="div_pland1">
				<div class="mui-plant1" style="width: 100%;height: 100%;" id="div_pland">
				
				</div>
			</div>

			<!-- <div class="mui-plant mui-scroll-wrapper" id="div_pland11">
				<div class="mui-scroll">
					<div class="mui-plant1"  id="div_pland">
						<div class="mui-plant-land" style="background-image: url(../../images/nongchang/tu2.png);" data-day="27"
						 data-name="（幼苗）小番茄-黄" data-landId="13268" data-seedId="44"><a href="#popover" style="display: block;width:100%;height:100%"><img
								 src="http://39.106.109.129:8000//uploads/seed_status/20200407/46f42ae3474f7f65c25c3390214a83c4.png" class="image1"
								 onerror="nofindZz(this)"></a></div>
						<div class="mui-plant-land" style="background-image: url(../../images/nongchang/tu2.png);" data-day="0" data-name="（成熟）小番茄-黄"
						 data-landId="13269" data-seedId="26"><a href="#popover" style="display: block;width:100%;height:100%"><img src="http://39.106.109.129:8000//uploads/seed_status/20200406/107e9662e992b611d866f5412965e4e1.png"
								 class="image1" onerror="nofindZz(this)"></a></div>
						<div class="mui-plant-land" style="background-image: url(../../images/nongchang/tu2.png);" data-day="0" data-name="（成熟）小番茄-黄"
						 data-landId="13270" data-seedId="26"><a href="#popover" style="display: block;width:100%;height:100%"><img src="http://39.106.109.129:8000//uploads/seed_status/20200406/107e9662e992b611d866f5412965e4e1.png"
								 class="image1" onerror="nofindZz(this)"></a></div>
						<div class="mui-plant-land" style="background-image: url(../../images/nongchang/tu2.png);" data-day="27"
						 data-name="（幼苗）小番茄-黄" data-landId="13617" data-seedId="44"><a href="#popover" style="display: block;width:100%;height:100%"><img
								 src="http://39.106.109.129:8000//uploads/seed_status/20200407/46f42ae3474f7f65c25c3390214a83c4.png" class="image1"
								 onerror="nofindZz(this)"></a></div>
						<div class="mui-plant-land" style="background-image: url(../../images/nongchang/tu2.png);" data-day="27"
						 data-name="（幼苗）大番茄-口感番茄" data-landId="13657" data-seedId="47"><a href="#popover" style="display: block;width:100%;height:100%"><img
								 src="http://39.106.109.129:8000//uploads/seed_status/20200407/58def422b5f79fb3e5963170c80f2b31.png" class="image1"
								 onerror="nofindZz(this)"></a></div>
						<div class="mui-plant-land" style="background-image: url(../../images/nongchang/tu2.png);" data-day="27"
						 data-name="（幼苗）小番茄-绿" data-landId="13658" data-seedId="51"><a href="#popover" style="display: block;width:100%;height:100%"><img
								 src="http://39.106.109.129:8000//uploads/seed_status/20200407/375a53f82975de2f4fd1f04b5fc60323.png" class="image1"
								 onerror="nofindZz(this)"></a></div>
						<div class="mui-plant-land" style="background-image: url(../../images/nongchang/tu2.png);" data-day="27"
						 data-name="（幼苗）大番茄916" data-landId="13685" data-seedId="48"><a href="#popover" style="display: block;width:100%;height:100%"><img
								 src="http://39.106.109.129:8000//uploads/seed_status/20200407/a060974d3859ae9ec6a880c2d8b92b0d.png" class="image1"
								 onerror="nofindZz(this)"></a></div>
						<div class="mui-plant-land" style="background-image: url(../../images/nongchang/tu2.png);" data-day="27"
						 data-name="（幼苗）小番茄-千禧" data-landId="18458" data-seedId="45"><a href="#popover" style="display: block;width:100%;height:100%"><img
								 src="http://39.106.109.129:8000//uploads/seed_status/20200407/7ae319b23a3e95fec548d3198c347e71.png" class="image1"
								 onerror="nofindZz(this)"></a></div>
						<div class="mui-plant-land" style="background-image: url(../../images/nongchang/tu2.png);" data-day="27"
						 data-name="（幼苗）小番茄-千禧" data-landId="18459" data-seedId="45"><a href="#popover" style="display: block;width:100%;height:100%"><img
								 src="http://39.106.109.129:8000//uploads/seed_status/20200407/7ae319b23a3e95fec548d3198c347e71.png" class="image1"
								 onerror="nofindZz(this)"></a></div>
					</div>
				</div>
			</div>
 -->
			<!-- <div class="mui-plant" id="div_pland"> -->
			<!-- <div class="mui-plant-land" id="div_land">
					<a href="#popover" style="display: block;">
						<img src="../../images/cangku/zhiwu.png" class="image1" id="ipt_img">
					</a>
				</div>
				<div class="mui-plant-land">
					<a href="#popover">
						<img src="../../images/cangku/zhiwu.png" class="image1" id="ipt_img">
					</a>
				</div>
				<div class="mui-plant-land" id="div_land">
					<img src="../../images/cangku/zhiwu.png" class="image1" id="ipt_img">
				</div>
				<div class="mui-plant-land">
					<img src="../../images/cangku/zhiwu.png" class="image1" id="ipt_img">
				</div>
				<div class="mui-plant-land" id="div_land">
					<img src="../../images/cangku/zhiwu.png" class="image1" id="ipt_img">
				</div>
				<div class="mui-plant-land">
					<img src="../../images/cangku/zhiwu.png" class="image1" id="ipt_img">
				</div>
				<div class="mui-plant-land" id="div_land">
					<img src="../../images/cangku/zhiwu.png" class="image1" id="ipt_img">
				</div>
				<div class="mui-plant-land">
					<img src="../../images/cangku/zhiwu.png" class="image1" id="ipt_img">
				</div>
				<div class="mui-plant-land" id="div_land">
					<img src="../../images/cangku/zhiwu.png" class="image1" id="ipt_img">
				</div>
				<div class="mui-plant-land">
					<img src="../../images/cangku/zhiwu.png" class="image1" id="ipt_img">
				</div>
				<div class="mui-plant-land" id="div_land">
					<img src="../../images/cangku/zhiwu.png" class="image1" id="ipt_img">
				</div>
				<div class="mui-plant-land">
					<img src="../../images/cangku/zhiwu.png" class="image1" id="ipt_img">
				</div>
				<div class="mui-plant-land" id="div_land">
					<a href="#popover" style="display: block;">
						<img src="../../images/cangku/zhiwu.png" class="image1" id="ipt_img">
					</a>
				</div>
				<div class="mui-plant-land">
					<a href="#popover">
						<img src="../../images/cangku/zhiwu.png" class="image1" id="ipt_img">
					</a>
				</div>
				<div class="mui-plant-land" id="div_land">
					<img src="../../images/cangku/zhiwu.png" class="image1" id="ipt_img">
				</div>
				<div class="mui-plant-land">
					<img src="../../images/cangku/zhiwu.png" class="image1" id="ipt_img">
				</div>
				<div class="mui-plant-land" id="div_land">
					<img src="../../images/cangku/zhiwu.png" class="image1" id="ipt_img">
				</div>
				<div class="mui-plant-land">
					<img src="../../images/cangku/zhiwu.png" class="image1" id="ipt_img">
				</div>
				<div class="mui-plant-land" id="div_land">
					<img src="../../images/cangku/zhiwu.png" class="image1" id="ipt_img">
				</div>
				<div class="mui-plant-land">
					<img src="../../images/cangku/zhiwu.png" class="image1" id="ipt_img">
				</div>
				<div class="mui-plant-land" id="div_land">
					<img src="../../images/cangku/zhiwu.png" class="image1" id="ipt_img">
				</div>
				<div class="mui-plant-land">
					<img src="../../images/cangku/zhiwu.png" class="image1" id="ipt_img">
				</div>
				<div class="mui-plant-land" id="div_land">
					<img src="../../images/cangku/zhiwu.png" class="image1" id="ipt_img">
				</div>
				<div class="mui-plant-land">
					<img src="../../images/cangku/zhiwu.png" class="image1" id="ipt_img">
				</div> -->
			<!-- </div> -->

			<div class="mui-Onekey">
				<div>
					<a href="javascript:void(0)" id="btn_one_water">
						<img src="../../images/nongchang/yjjs.png" style="width: 3.5rem;height: 3.5rem;">
					</a>
				</div>

				<div>
					<a href="javascript:void(0)" id="btn_one_task">
						<img src="../../images/nongchang/yjsf.png" style="width: 3.5rem;height: 3.5rem;">
					</a>
				</div>
				
				<div>
					<a href="javascript:void(0)" id="btn_water">
						<img src="../../images/nongchang/jiaoshui.png" style="width: 3.5rem;height: 3.5rem;">
					</a>
				</div>
				
				<div>
					<a href="javascript:void(0)" id="btn_task">
						<img src="../../images/nongchang/shifei.png" style="width: 3.5rem;height: 3.5rem;">
					</a>
				</div>
			</div>
			<div class=" mui-fooder ">
				<ul class="text">
					<li>
						<a href="javascript:void(0)" id="btn_shouye">
							<img src="../../images/nongchang/fanhui.png">
						</a>
						
					</li>
					<li>
						<a href="javascript:void(0)" id="btn_shangcheng">
							<img src="../../images/nongchang/shangcheng.png">
						</a>
						
					</li>				
					<li>
						<a href="javascript:void(0)" id="btn_cangku">
							<img src="../../images/nongchang/cangku.png">
						</a>
						
					</li>
					<li>
						<a href="javascript:void(0)" id="btn_tdzb">
							<img src="../../images/nongchang/tdzb.png">
						</a>						
					</li>
				</ul>
			</div>
		</div>
		<script type="text/javascript" src="../../js/mui.my.js"></script>
		<script type="text/javascript" src="../../a-core/util/log.js"></script>
		<script type="text/javascript" src="../../a-core/util/local-storage.js"></script>
		<script type="text/javascript" src="../../a-core/util/server.js"></script>
		<script type="text/javascript" src="../../server/main/plant-server.js"></script>
		<script type="text/javascript" src="../../server/my/my-server.js"></script>
		<script type="text/javascript" src="../../ui/main/plant-list.js"></script>
		<script type="text/javascript" src="plant-variable.js"></script>
		<script type="text/javascript" src="plant-func.js"></script>
		<script type="text/javascript" src="plant.js"></script>
		<script src="../../js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">

		</script>
	</body>
</html>
