<!DOCTYPE html>
<html>

	<head>
		<title>租赁土地</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="zltd.css" />
	</head>

	<body>
		<head>
			<header class="mui-bar mui-bar-nav a-header" style="background-color: white;">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: black;"></a>
				<h1 class="mui-title" id="ipt-header" style="color: #000000;font-size: 20px;">土地租赁</h1>
				</header>
		</head>
		<nav class="mui-bar mui-bar-tab " style="top: 44px;">
			<div style="width: 100%;margin: 0 auto;">
				<a class="mui-tab-item mui-active" data-href="main/zltd-dp.html" id="bbsChannel_dp" >
					<span class="mui-tab-label">大棚<i></i></span>
				</a>
				<a class="mui-tab-item" data-href="main/zltd-lt.html" id="bbsChannel_lt">
					<span class="mui-tab-label">露天<i></i></span>
				</a>
			</div>
		</nav>
	</body>
	<script type="text/javascript" src="../../js/mui.js"></script>
	<script type="text/javascript" src="../../a-core/util/log.js"></script>
	<script type="text/javascript" src="../../a-core/util/local-storage.js"></script>
	<script type="text/javascript" src="../../a-core/util/server.js"></script>
	<script type="text/javascript" src="zltd-variable.js"></script>
	<script type="text/javascript" src="zltd-func.js"></script>
	<script type="text/javascript" src="zltd.js"></script>
</html>
