<!DOCTYPE html>
<html>

	<head>
		<title>意见反馈</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="idea.css" />
	</head>

	<body>
		<head>
			<header class="mui-bar mui-bar-nav a-header" style="background-color: white;">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: black;"></a>
				<h1 class="mui-title" id="ipt-header" style="color: #000000;font-size: 20px;">意见反馈</h1>
				<a class="mui-icon mui-icon-right-nav mui-pull-right" style="color: black;font-size: 15px;line-height: 25px;" id="btn_submit">提交</a>
			</header>
		</head>
		<div class="mui-content" style="background-color: white;">
			<div class="content">
               <textarea  id="ipt_content" rows="12" cols="" placeholder="有什么意见可及时反馈" style="background-color: #F0F0F0;border: 0;"></textarea>
			</div>
		</div>	
	</body>
	<script type="text/javascript" src="../../js/mui.min.js"></script>
	<script type="text/javascript" src="../../a-core/util/log.js"></script>
	<script type="text/javascript" src="../../a-core/util/local-storage.js"></script>
	<script type="text/javascript" src="../../a-core/util/server.js"></script>
	<script type="text/javascript" src="../../server/sys/aboutus-server.js"></script>
	<script type="text/javascript" src="idea-variable.js"></script>
	<script type="text/javascript" src="idea-func.js"></script>
	<script type="text/javascript" src="idea.js"></script>

</html>