<!DOCTYPE html>
<html>

	<head>
		<title>软件许可及服务协议</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<style>
			pre {
			    white-space:pre-wrap;/*css-3*/
			      white-space:-moz-pre-wrap;/*Mozilla,since1999*/
			      white-space:-pre-wrap;/*Opera4-6*/
			      white-space:-o-pre-wrap;/*Opera7*/
			      word-wrap:break-word;/*InternetExplorer5.5+*/
				  padding: 7px;
				  font-size: 15px;
			}
		</style>
	</head>

	<body style="height: 1920px;">
			<header class="mui-bar mui-bar-nav a-header" style="background-color: white;">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: black;"></a>
				<h1 class="mui-title" id="ipt-header" style="color: #000000;font-size: 20px;">软件许可及服务协议</h1>
			</header>
		<iframe src="http://farmapi.yiqianyun.com/service-agreement.html" style="height: 1920px; width: 100%;">
			
		</iframe>
		<!-- <div class="mui-content" style="background-color: white;">
			<pre class="content" >
			</pre>
		</div> -->
	</body>
	<script type="text/javascript" src="../../js/mui.min.js"></script>
	<script type="text/javascript" src="../../a-core/util/log.js"></script>
	<script type="text/javascript" src="../../a-core/util/local-storage.js"></script>
	<script type="text/javascript" src="../../a-core/util/server.js"></script>
</html>
