<!DOCTYPE html>
<html>

	<head>
		<title>版本升级</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="update.css" />
	</head>

	<body>
		<head>
			<header class="mui-bar mui-bar-nav a-header" style="background-color: white;">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: black;"></a>
				<h1 class="mui-title" id="ipt-header" style="color: #000000;font-size: 20px;">版本升级</h1>
			</header>
		</head>
		<div class="mui-content" style="background-color: white;">
			<p style="margin-top:120px;"><img src="../../images/homemenu/wdtd.png" /></p>
			<p style="color: #000000;font-size: 18px;"><span>当前版本：1.1.1</span></p>
			<p><span style="color:#5bc2fd;font-size:17px" id="btn-update">检查更新</span></p>
		</div>	
	</body>
	<script type="text/javascript" src="../../js/mui.min.js"></script>
	<script type="text/javascript" src="../../a-core/util/log.js"></script>
	<script type="text/javascript" src="../../a-core/util/local-storage.js"></script>
	<script type="text/javascript" src="../../a-core/util/server.js"></script>
	<script type="text/javascript" src="../../server/sys/aboutus-server.js"></script>
	<script type="text/javascript" src="update-variable.js"></script>
	<script type="text/javascript" src="update-func.js"></script>
	<script type="text/javascript" src="update.js"></script>

</html>