<!DOCTYPE html>
<html>

	<head>
		<title></title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="xgmm.css" />
	</head>

	<body>
		<head>
			<header class="mui-bar mui-bar-nav a-header">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: black;"></a>
				<h1 class="mui-title" id="ipt-header" style="color: #000000;font-size: 20px;">修改信息</h1>
				<a class="mui-icon mui-icon-right-nav mui-pull-right" style="color: black;font-size: 15px;line-height: 25px;margin-right: 2px;"
				 id="btn_save">保存</a>
			</header>
		</head>
		<div class="mui-content">
			<div>
				<div style="height: 40%;">
					<ul>
						<li>
							<img src="../../images/password.png" height="25px" />
							<input onpaste="return false" style="width: 200px;border: 0;background-color: #F0F0F0;margin-left: 26px;margin-bottom: 0;padding: 0;" placeholder="请输入原密码"
							 id="ipt-password" type="password"/>
						</li>
						<li>
							<img src="../../images/password.png" height="25px" />
							<input  onpaste="return false" style="width: 200px;border: 0;background-color: #F0F0F0;margin-left: 26px;margin-bottom: 0;padding: 0;" placeholder="请输入新密码"
							 id="ipt-password-new" type="password"/>
						</li>
						<li>
							<img src="../../images/password.png" height="25px" />
							<input onpaste="return false"  style="width: 200px;border: 0;background-color: #F0F0F0;margin-left: 26px;margin-bottom: 0;padding: 0;" placeholder="请确认新密码"
							 id="ipt-password-confirm" type="password"/>
						</li
					</ul>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/mui.js"></script>
	<script type="text/javascript" src="../../js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../../js/exif.js"></script>
	<script type="text/javascript" src="../../a-core/util/log.js"></script>
	<script type="text/javascript" src="../../a-core/util/local-storage.js"></script>
	<script type="text/javascript" src="../../a-core/util/server.js"></script>
	<script type="text/javascript" src="../../server/my/my-server.js"></script>
	<script type="text/javascript" src="xgmm-variable.js"></script>
	<script type="text/javascript" src="xgmm-func.js"></script>
	<script type="text/javascript" src="xgmm.js"></script>
</html>
